<div class="categories">
  <div *ngFor="let category of categories">
    {{category}}
    <input name="category" type="radio" [value]="category" [(ngModel)]="selectedCategory">
  </div>
</div>

<div class="select-exercise">
  <select [(ngModel)]="selectedExerciseId">
    <option *ngFor="let exercise of exercisesMap[selectedCategory]" [value]="exercise.id">{{exercise.title}}</option>
  </select>
</div>

<div class="digits">
  к-во:
  <input type="number" [(ngModel)]="count">
</div>
<div class="digits">
  вес:
  <input type="number" [(ngModel)]="weight">
  <button (click)="addExerciseFact(selectedExerciseId, count, weight)">
    save
  </button>
</div>

<div class="done">
  <table>
    <tr *ngFor="let exercise of exerciseFacts">
      <td>{{getExerciseById(exercise?.exerciseId)?.title}}</td>
      <td>{{exercise.count}}</td>
      <td>{{exercise.weight}}</td>
    </tr>
  </table>
</div>
