<div class="categories">
  <div *ngFor="let category of categories">
    {{category}}
    <input name="category" type="radio" [value]="category" [(ngModel)]="selectedCategory"
           (change)="selectedExerciseId = null; count = null; weight = null;">
  </div>
</div>

<div class="select-exercise">
  <select [(ngModel)]="selectedExerciseId" class="select-exercise">
    <option *ngFor="let exercise of exercisesMap[selectedCategory]" [value]="exercise.id">{{exercise.title}}</option>
  </select>
  <button class="ui icon buttin" (click)="editExercise(selectedExerciseId)"><i class="ui edit icon"></i></button>
  <button class="ui icon buttin" (click)="addExercise()"><i class="ui add icon"></i></button>
  <button class="ui icon buttin" (click)="showHistory(selectedExerciseId)"><i class="ui calendar icon"></i></button>
</div>

<div class="digits">
  <div>
    к-во:
    <div class="ui action input button-group">
      <button class="ui button left" (click)="count = (count || 0) - 1"><i class="ui caret left icon"></i></button>
      <input type="number" [(ngModel)]="count">
      <button class="ui button right" (click)="count = (count || 0) + 1"><i class="ui caret right icon"></i></button>
    </div>

  </div>
  <div>
    вес:
    <div class="ui action input button-group">
      <button class="ui button left" (click)="weight = (weight || 0) - 1"><i class="ui caret left icon"></i></button>
      <input type="number" [(ngModel)]="weight">
      <button class="ui button right" (click)="weight = (weight || 0) + 1"><i class="ui caret right icon"></i></button>
    </div>
  </div>

  <button class="ui primary button" (click)="addExerciseFact(selectedExerciseId, count, weight)">save</button>

</div>

<div class="done">
  <table class="fact-table">
    <thead>
    <tr>
      <th>упр</th>
      <th>к-во</th>
      <th>вес</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let exercise of exerciseFacts; let i = index;"
        [ngClass]="{bordered: (exerciseFacts[i + 1] && exerciseFacts[i + 1].exerciseId) != exercise.exerciseId}">
      <td class="full-width">{{getExerciseById(exercise?.exerciseId)?.title}}</td>
      <td class="full-width">{{exercise.count}}</td>
      <td class="full-width">{{exercise.weight}}</td>
      <td>
        <button class="ui basic negative icon button" (click)="deleteFact(exercise.id)"><i class="ui remove icon"></i>
        </button>
      </td>
      <td>
        <button class="ui basic icon button" (click)="copyFact(exercise.exerciseId, exercise.count, exercise.weight)"><i
          class="ui copy icon"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
